*{
    margin: 0px;
    padding: 0px;
}
.fondo{ /*Foto de fondo y fuente para toda la pagina*/
    background-image: url(../image/FONDO\ FINAL.jpg);
    background-size: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgba(240, 248, 255, 0.966);
}
a{ /*sacarle el subrayado y el color a los links*/
    text-decoration: none;
    padding: 10px;
    color: rgba(240, 248, 255, 0.966);
}
ul li{ /*sacarle viñetas a las listas*/
    list-style-type: none;
}
.linea{ /*convierte en linea a los de tipo bloque*/
    display: inline-block;
}
.logo{
    margin: 10px;
    padding: 10px;
    color: rgba(240, 248, 255, 0.966);

}
nav{
    color: rgba(240, 248, 255, 0.966);
    height: 100px;
}
nav ul{
    margin-right: 10px;
}
#nombre{ 
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    text-align: center;
    margin: 0px;
    width: 100%;
   /* position: absolute; */
    bottom:0px;    
}
#descripcion h4{
    text-align: center;
    padding: 20px;
    line-height: 50px;
    letter-spacing: 10px;
}

.letra{
    text-decoration: none;
    color: rgba(240, 248, 255, 0.966);

}
.p-nav{
    display: flex;
    justify-content: end;
    align-items: center;
}
#descripcion{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
#pie{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

